.container {
  height: 50%;
  width: 50%;
  margin: auto;
  padding-top: 12svh;
  min-width: 275px;
  /* height: 50%; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.appTitle {
  font-family: cursive;
  color: rgb(125, 252, 221);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 12px;
}
